$concrete: #F3F3F3;
$cold-gray: #1B1B1B;
$crow: #5DE7FF;
$crow-dark: #5DAAB9;
$crow-light: #5CD1E9;
$hoki: #628894;
$acento: #4CE0FE;
$gray-text: #7B7B7B;
$light-background: #FFF;
$light-primary-font-color: #000;
$light-secondary-font-color: #000;
$dark-background: #000;
$dark-primary-font-color: #fff;
$dark-secondary-font-color: #fff;

