@import "variables";
@import "mixins";

.about-section {
  @include margin;
}

.coin {
  width: 200px;
  height: 250px;
  flex-shrink: 0;
  position: absolute;
  top: 15%;
  right: 20%;
}

.about-title {
  color: #000;
    margin-top: 5%;
    margin-bottom: 5%;
  /* Sub-page H1 */
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 150% */
  letter-spacing: -0.72px;
  width: 750px;
  height: 144px;
  flex-shrink: 0;
}

.box-title-about {
    margin-top: 5%;
    margin-bottom: 5%;
  display: flex;
  width: 479px;
  height: 36px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;

  /* Body H4 */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: -0.36px;
}

.BAC-title {
    margin-top: 5%;
    margin-bottom: 5%;
  text-align: center;
  h2 {
    color: #000;
    text-align: center;

    /* Sub-page H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 150% */
    letter-spacing: -0.72px;
  }
  span {
    margin-top: 5%;
    margin-bottom: 5%;
    color: var(--graytext, #7b7b7b);
    text-align: center;

    /* Body P Large */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 138.889% */
    letter-spacing: -0.54px;
  }
}

.BAC-text {
    margin-top: 5%;
    margin-bottom: 5%;
  div {
    p:nth-child(1) {
        
      color: #000;

      /* Body H4 */
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px; /* 150% */
      letter-spacing: -0.36px;
    }
    p:nth-child(2) {
        margin-top: 5%;
        margin-bottom: 5%;
      color: var(--graytext, #7b7b7b);

      /* Body P */
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      letter-spacing: -0.27px;
    }
  }
}

.clock {
  width: 573px;
  height: 698px;
  flex-shrink: 0;
}
