@import "variables";
@import "mixins";

.create-contract {
  border-radius: 15px;
  border: 1px solid rgba(217, 217, 217, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 80%;
  min-height: 80vh;
  margin: auto;
  margin-bottom: 5%;
  height: fit-content;
  h1 {
    color: #000;
    text-align: center;

    /* Sub-page H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 150% */
    letter-spacing: -0.72px;
  }
  h2 {
    color: var(--graytext, #7b7b7b);
    text-align: center;

    /* Body P Large */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 138.889% */
    letter-spacing: -0.54px;
  }
  .type-selection {
    display: flex;
    justify-content: space-around;
    margin: 5%;
    .active {
      color: #fff;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.08px;
      border-radius: 15px;
      background: #000;
      padding: 1%;
    }
    .inactive {
      color: var(--graytext, #7b7b7b);
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.08px;
      border-radius: 15px;
      background: rgba(217, 217, 217, 0.26);
      padding: 1%;
    }
  }
  .form {
   margin-left: 7%;
    .input-data {
        display: grid;
      span {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-top: 2%;
      }
      label {
        color: var(--graytext, #7b7b7b);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-top: 1%;
      }
      input {
        border-radius: 15px;
        border: 1px solid rgba(123, 123, 123, 0.53);
        background: rgba(217, 217, 217, 0);
        min-width: 40%;
        height: 3em;
        width: fit-content;
        margin-top: 1%;
      }
    }
  }
  .initiate {
    border-radius: 15px;
    background: var(--coldgray, #1b1b1b);
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    width: 95%;
    margin-top: 2%;
    height: 3em;
    margin-left: 3%;
  }
  .disclaimer {
    display: block;
    color: var(--graytext, #7b7b7b);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
}
