.footer {
  background-color: black;
  display: flex;
  align-items: center;
  height: 220px;
  color: white;
  padding: 5%;
  .nav-menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
  }
  .copyright {
    color: gray;
  }
}
