@import "variables";
@import "mixins";

.my-contracts {
  h1 {
    color: #000;
    text-align: center;

    /* Sub-page H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 150% */
    letter-spacing: -0.72px;
  }
  h2 {
    color: var(--graytext, #7b7b7b);
    text-align: center;

    /* Body P Large */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 138.889% */
    letter-spacing: -0.54px;
  }
  .contracts-box {
    margin-top: 8%;
  }
  .box {
    border-radius: 15px;
    border: 1px solid rgba(47, 47, 47, 0.53);
    background: #0e0e0e;
    .contract-section {
      div {
        span:nth-child(1) {
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.21px;
        }
        span:nth-child(2) {
          margin-left: 2%;
          color: #fff;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.21px;
        }
      }
    }
  }

  .status-div {
    .status {
      width: 50px;
      height: 50px;
    }
    span {
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.21px;
    }
  }
}
