@import "variables";
@import "mixins";

.navbar {
  @include margin;
  display: flex;
  align-items: center;
  .logo {
    width: 201px;
    height: 60px;
    flex-shrink: 0;
  }
  .mainbutton {
    @include main-button;
  }
  .nav-menu {
    width: 394px;
    height: 28px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    span {
      color: var(--graytext, #7b7b7b);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.08px;
      text-transform: capitalize;
        &:hover{
            color: black;
            font-weight: bolder;
            cursor: pointer;
        }
    }
  }
}
