@import "variables";
@import "mixins";

.tutorial {
  @include margin;
  h1 {
    color: #000;
    text-align: center;
    /* Sub-page H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; /* 150% */
    letter-spacing: -0.72px;
  }
  h3 {
    color: var(--graytext, #7b7b7b);
    text-align: center;

    /* Body P Large */
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 138.889% */
    letter-spacing: -0.54px;
  }
  .instx-box{
    align-items: center;
  }
  .instx-num {
    color: var(--graytext, #7b7b7b);

    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 50% */
    letter-spacing: -1.5px;
    display: flex;
    width: 270px;
    height: 151px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  .instx {
    margin-left: 10%;
    li {
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: -0.21px;
      flex-shrink: 0;
    }
  }
  .instx-title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 277.778% */
    letter-spacing: -0.27px;
    text-transform: uppercase;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
}
